
  
  .index{
    background-image:url("imagenes/fondo.jpg");
    background-repeat: space;
    background-size:cover;
    background-position: center;
    color: rgb(255, 255, 255);}
  
  
  .texto{
    width: 500px,200px;
    
  }
  
  .logo{
      width: 150px;
      margin: auto;
}

 

h1{
  background-color: rgba(135, 138, 141, 0.493);
  border-radius: 15px
}

.fab{
  color: rgb(0, 0, 0);
  font-size: 35px;
  margin: 5px;
  background-color: rgba(135, 138, 141, 0.493);
  border-radius: 15px
}


/*-------------------PANTALLA INGRESO------------------------------------------------>*/

.ingreso{
  background-color: black;
  background-size:cover;
}


.disponible{
  width: 540px;
  margin: auto;
  transition: transform .4s;
  border-color: rgb(241, 207, 10);
  border-radius: 30px;
  border-style: solid;
  mask-border-width: 2px;
  margin-right: -50px;
}

.disponible:hover{
  width: 540px;
  transform: scale(1.1)
}


.mis{
  width: 540px;
  margin: auto;
  transition: transform .4s;
  border-color: rgb(241, 207, 10);
  border-radius: 30px;
  border-style: solid;
  mask-border-width: 2px;
  margin-left: -50px;
}

.mis:hover{
  width: 540px;
  transform: scale(1.1)
}

/*-------------------PANTALLA TORNEOS DISPONIBLES------------------------------------------------>*/

  


#disponibles{
  background-color: rgba(0, 0, 0, 0.644);
}

.tarjetas{
   margin-top: 50px;
   margin-left: 50px
}

/*-------------------BASE ------------------------------------------------->*/

.fondo_base{
    background-image:url("imagenes/fondo_mis.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:inherit;
    
}

/*-------------------------MIS TORNEOS------------------------------------------------->*/
.resultados{
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.589);
  margin: 50px;
  border-radius: 20px;
  padding-left: 75px
}


#titulo_mis_torneos{
  font-size: 70px;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.007);
 
}

#logo_barra{
  width: 200px;
  float: left;
  margin-top: 5px;margin-left: -25px;
}

#barra{
margin-top: -20px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 20px;
}

#nombre_perfil{
  color:rgb(241, 207, 10);
  margin-left: 900px;
  padding-top: 0px
}

#boton_barra{
  margin-left: 100px
}

#tarjetas_canchas{
  background-color: blueviolet
}

#torneo_inscripto{
  background-color: rgb(241, 207, 10);
  font-size: 35px;
  text-align: center;
  border-radius: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fecha_torneo{  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

body{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.barra_deco{
  border-color: rgb(241, 207, 10);
  border-radius: 30px;
  border-style: solid;
  width: 220px;
background-color:rgb(241, 207, 10);
color: rgb(0, 0, 0);
text-align: center;}



.titulo_torneo_inscripto{
  text-align: center;
  margin-top: 20px;
}

